<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lp.dao.UserMapper">

    <select id="selectUserList" resultType="com.lp.entity.User">
        SELECT * from  user
        <if test="size != null and size != ''">
            where  1 = 1
        </if>
    </select>
</mapper>